.header{
    width: 100%;
    margin: 0 auto;
}

.banner{
   width: 100%;
}

.banner img{
    width: 100%;
    height: 100%;
    object-fit: cover;
}

@keyframes slide-in {
    0% {
      transform: translateX(-100%);
    }
    100% {
      transform: translateX(0%);
    }
  }

  .banner img {
    animation: slide-in 1s ease-in-out forwards;
  }

#redes{
    display: flex;
    flex-direction: row-reverse;
    flex-wrap: nowrap;
    }

.red{
    height: 20px;
    margin-right: 10px;
    margin-top: 8px;
}

#navlist{
    display: flex;
    justify-content: space-evenly;
    text-align: center;
}

.buscar{
 display: inline;
}

#logo{
    position: relative;
    margin-left: 80px;
  }

.search-container {
    margin: 0 auto;
}

#div id="buscar"{
    display: flex;
    justify-content: space-around;
}



.form-control-sm{
width:600px;
height: 50px;
display: flex;
 }




#div id="catalogo"{
    margin: 0 auto;
    width: 100%;
    height: 100%;
    
}
.menu{
    width: 100%;
    height: 100%;
}
footer{
    background-color: black;
    color: white;
    padding: 100px 0;
}

.container-fluid{
    margin: 0 auto;
}

.row justify-content-center{
    display: flex;
    justify-content: space-between;
}

.col-md-4{
    width: 25%
    display inline
}

h1{
    display: inline;
    display: flex;
    justify-content: space-around;
    font-size:12px;
    font-family: 'Nunito Sans', sans-serif;
    letter-spacing: 5px;
}

h2{
    display: inline;
    display: flex;
    justify-content: space-around;
    font-size:12px;
    font-family: 'Roboto', sans-serif;
}

iframe{
width:40%;
height:40%;
}

.imagen-hover {
    transition: transform .2s ease-in-out;
}

.imagen-hover:hover {
    transform: scale(1.2);
  }

th,td{
    padding-top: 40px;
    padding-right: 40px;
    padding-right: 40px;
    text-align: center;
}

table {
    margin: 0 auto;
  }

  .input-group-text{
    background-color: black;
    color:white;
  }

