.banner{
   width: 100%;
}

.banner img{
    width: 100%;
    height: 100%;
    object-fit: cover;
}

@keyframes slide-in {
    0% {
      transform: translateX(-100%);
    }
    100% {
      transform: translateX(0%);
    }
  }

  .banner img {
    animation: slide-in 1s ease-in-out forwards;
  }

#redes{
    display: flex;
    flex-direction: row-reverse;
    flex-wrap: nowrap;
    }

.red{
    height: 20px;
    margin-right: 10px;
    margin-top: 8px;
}

#logo{
    position: relative;
    margin-left: 20px;
  }


.col-5{
  border-width: 1px;
  border-style: solid;
  border-color: black;
  width: 680px;
  height: 50px;
 
}

.form-control-sm{
    width:600px;
    height: 30px;
    border: none;
    margin-top: 10px;
   
}


#div id="catalogo"{
    margin: 0 auto;
    width: 100%;
    height: 100%;
}

footer{
    background-color: black;
    color: white;
    padding: 30px 0;
}

h1{
    display: inline;
    display: flex;
    justify-content: space-around;
    font-size:12px;
    font-family: 'Nunito Sans', sans-serif;
    letter-spacing: 5px;
}

h2{
    display: inline;
    display: flex;
    justify-content: space-around;
    font-size:12px;
    font-family: 'Roboto', sans-serif;
}

.imagen-hover {
    transition: transform .2s ease-in-out;
}

.imagen-hover:hover {
    transform: scale(1.2);
}

th,td{
    padding-top: 40px;
    padding-right: 40px;
    padding-right: 40px;
    text-align: center;
}

table {
    margin: 0 auto;
}

#videoproducto1{
padding-top: 30px;
padding-bottom: 30px;
width: 100%;
height: 500px;
}

#videoproducto2{
    padding-top: 30px;
    padding-bottom: 30px;
    width: 100%;
    height: 500px;
}
    
iframe{
    width:40%;
    height:40%;
}

.form-control{
    width:80px;
    height: 40px;
    border: none;
}   

.menu{
      list-style-type: none
      margin:0;
      padding:0;
}

.menu li{
display:none
margin-right: 10px;
}

.menu li a{
text-decoration: none;
color:#333
padding:5px 10px;
}

.menu li a:hover{
    background-color: #333;
    color:#fff;
}

