#card {
    display: flex;
    flex-wrap: nowrap;
    align-items: center;
    padding-bottom: 5%;
    position: relative;
    padding-top: 5%;
    background-color: rgb(156, 170, 179);

}

#card h1 {
    display: inline;
    display: flex;
    justify-content: center;
    
}

#card p {
    position: relative;
    padding-right: 5%;
    display: flex;

}